.NavigationItem {
    list-style: none;
    padding: 0;
    margin: 0;


}

.NavigationItem a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 18px 25px;
    display: block;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif ;
}
.NavigationItem a.Active{
    background: #f05a28;
    transition: .8s;

}
.NavigationItem a.ActiveTop{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    transition: .8s;
    background: #f05a28;
}
.NavigationItem a.TopLinks{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 15px 15px;
    margin-right: 0;
}


@media(min-width: 650px){
    .NavigationItem a{
        font-size: 13px;
    }


}

@media(min-width: 950px){
    .NavigationItem a.ActiveTop{
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        transition: .8s;
        background: #f05a28;
    }
    .NavigationItem a.TopLinks{
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 15px 15px;
        margin-right: 15px;
    }
    .NavigationItem a.TopLinks{
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        padding: 15px 15px;
        margin-right: 15px;
    }

    @media(hover:hover){
        .Navigation a.TopLinks:hover{
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background: #f05a28;
        }
        .NavigationItem a:hover{
            background: #f05a28;
            animation: NavAnimation 0.2s linear;
        }
    }


}

@keyframes NavAnimation{
    0%, 100%{
       transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
}

@supports (-ms-ime-align: auto) {


}
