.NavigationItems{
    display: block;
    margin: 0 0 0 0;
    padding: 0;
    min-height: 37px;

}


@media(min-width: 750px){
    .NavigationItems{
        display: flex;
        justify-content: center;
        flex-flow: row;
        align-items: center;
        width: 50%;
        float: right;
        margin-right: 60px;
    }

}