
.ServiceCont{
    float: left;
    box-sizing: border-box;

}
.Service{
    min-height: 150px;
    box-shadow: -4px 7px 10px #ccc;
    border: 1px solid #eee;
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
    width: 60%;
    padding: 16px;
    font-size: 18px;

}


.Service .FontClass{
    margin-top: 20px;
}

.Service .FontClass:hover{
    color: #c12b02;
    cursor: pointer;
}

.Service p{
    font-size: 16px;
    text-align: justify;

}

@media (min-width: 850px){
    .Service{
        width: 80%;
    }

}